{% extends "network/layout.html" %}
{% load static %}

{% block title %}Social Network | {{p_user.first_name}} {{p_user.last_name}}{% endblock %}

{% block script %}
<script>
    var like_src = "{% static 'network/like.png' %}";
    var liked_src = "{% static 'network/liked.png' %}";
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'network/profile.js' %}"></script>
{% endblock %}

{% block body %}
<div class="pt-3 pr-3 pl-3">
<h1>{{p_user.first_name}} {{p_user.last_name}}</h1>
<p>@{{p_user.username}}</p>
<p>{{p_user.email}} </p>
<p><span class="mr-2">Followers: {{p_user.followers.count}}</span> Following: {{p_user.following.count}}</p>
{% if user.is_authenticated %}
{% if  p_user.username != user.username %}
<form action="{% url 'profile' p_user.username %}" method="post">
{% if followed == 'N' %}
<input type="submit" name="tag" value="Follow" class="text-center mt-1 btn btn-primary" id="follow_btn" />
{% else %}
<input type="submit" name="tag" value="Following" class="text-center mt-1 btn btn-success" id="unfollow_btn" />
{% endif %}
</form>
{% endif %}
{% endif %}
</div>
{% if  p_user.username == user.username %}
<h3 class="pt-3 pl-2">Latest Posts By You</h3>
{% else %}
<h3 class="pt-3 pl-2">Latest Posts By {{p_user.first_name}}</h3>
{% endif %}
<hr>
{% if  p_user.username == user.username %}
<div class="mx-auto bg-light rounded w-75 p-3">
<h3>New Post</h3>
<form>
  <div class="text-center">
  <textarea class="text-justify form-control" id="tweet-body" placeholder="Write a new post."></textarea>
  </div>
  <input type="submit" value="Post" id="new-tweet" class="text-center mt-1 btn btn-primary"/>
</form>
</div>
{% endif %}

<div id="all_posts" data-max_post="{{tweets|length}}" class="mx-auto w-75 mt-3">
{% for tweet in tweets %}
<div class="bg-light rounded p-3 mb-3 posts" id="post{{forloop.counter}}">
<p style="text-align:left;vertical-align:middle;" class="border-bottom pb-1"><span data-username="{{p_user.username}}">
<span class="h5">{{p_user.first_name}} {{p_user.last_name}}</span><br/>
<span class="small">@{{p_user.username}}</span>
</span>
{% if  p_user.username == user.username %}
<span class="text-primary edit" id="e{{tweet.id}}" role="button" data-tweetid="{{tweet.id}}" style="float:right;cursor:pointer;">Edit</span></p>
{% endif %}
<p id="b{{tweet.id}}" class="text-justify">{{tweet.body}}</p>
{% if  p_user.username == user.username %}
<textarea style="display:none;" id="t{{tweet.id}}" class="text-justify form-control"></textarea>
<input style="display:none;" type="submit" value="Save" id="s{{tweet.id}}" data-tweetid="{{tweet.id}}" class="editbutton text-center mt-1 mb-1 btn btn-primary"/>
{% endif %}
<p class="p-1 border-top"><span class="float-left"><img style="cursor: pointer;" id="l{{tweet.id}}" data-tweetid="{{tweet.id}}" data-l_u = "{{tweet.flag}}" role="button" class="pr-1 like" width="20px"><span id="lv{{tweet.id}}">{{tweet.like}}</span></span>
<span class="float-right">{{tweet.timestamp}}</span></p>
</div>
{% endfor %}
</div>
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
<ul class="pagination" id="page_number">
</ul>
</nav>
{% endblock %}
